{% load static %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Table - HR Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
<h3>Last 5 Employee :-</h3>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">FullName</th>
        <th scope="col">Age</th>
        <th scope="col">Salary</th>
        <th scope="col">Email</th>
        <th scope="col">Dep</th>
        <th scope="col">Gender</th>
        <th scope="col">IsActive</th>
      </tr>
    </thead>
    <tbody>
        {% for x in emp %}
        <tr>
            <td>{{x.id}}</td>
            <td>{{x.first_name}} {{x.last_name}}</td>
            <td>{{x.age}}</td>
            <td>{{x.salary}}</td>
            <td>{{x.email}}</td>
            <td>{{x.dep}}</td>
            <td>{{x.get_gender_display}}</td>
            <td>{{x.is_active}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  
<h3>Last 5 Department :-</h3>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Department Name</th>
      </tr>
    </thead>
    <tbody>
    {% for x in dep %}
    <tr>
        <td>{{x.id}}</td>
        <td>{{x.dep_name}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>